.dashboard_container {
  display: grid;
  grid-template-columns: 19% 82%;
  //   width: 100%;
}

.dashboard_content {
  width: 98%;
  background-color: #fff;
}

@media (max-width: 540px) {
  .dashboard_container {
    display: grid;
    grid-template-columns: 100%;
    //   width: 100%;
  }
}
