.person_container {
  display: grid;
  grid-template-columns: 19% 82%;
  //   width: 100%;
}

.person_content {
  width: 98%;
  background-color: #fff;
}

.person_content_info {
  padding: 44px 28px;
  display: grid;
  grid-template-columns: 30% 68%;
  grid-gap: 2%;
}

.person_title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 24px;
  /* identical to box height, or 50% */

  color: #000000;
  padding-top: 48px;
  padding-bottom: 28px;
}

.person_director,
.person_producer,
.person_date,
.person_average_lifespan {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #434854;
}
