.specie_container {
  display: grid;
  grid-template-columns: 19% 82%;
  //   width: 100%;
}

.specie_content {
  width: 98%;
  background-color: #fff;
}

.specie_content_info {
  padding: 44px 28px;
  display: grid;
  grid-template-columns: 30% 68%;
  grid-gap: 2%;
}

.specie_title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 24px;
  /* identical to box height, or 50% */

  color: #000000;
  padding-top: 48px;
  padding-bottom: 28px;
}

.specie_director,
.specie_producer,
.specie_date,
.specie_average_lifespan {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #434854;
}

@media (max-width: 540px) {
  .specie_container {
    display: grid;
    grid-template-columns: 100%;
  }

  .specie_content_info {
    display: grid;
    grid-template-columns: 100%;
  }
}
