.sidebar_container {
  width: 100%;
  height: 1003px;
  left: 0px;
  top: 0px;

  background: #031434;
  padding-top: 32px;
  padding-left: 24px;
}

.sidebar_item a {
  color: #ffffff;
  text-decoration: none;
}

.sidebar_item {
  margin-bottom: 20px;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 202px;
  padding: 15px;
}

.sidebar_overview {
  margin-top: 30px;
  margin-bottom: 60px;
}

.sidebar_overview_text {
  padding-left: 20px;
  padding-top: 9px;
}

.sidebar_overview a:hover {
  color: #e2e2e2;
}

.sidebar_item_link {
  position: absolute;
  top: 10px;
  left: 50px;
}

.sidebar_active {
  background: #0a74dc;
  border-radius: 4px;
  width: 202px;
}

.sidebar_item_link :active {
  color: #fff;
}

.sidebar_item_link :hover {
  color: #e2e2e2;
}

@media (max-width: 540px) {
  .logo_avatar {
    margin-top: 60px;
  }

  .sidebar_overview {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
